.header {
    background-color: var(--color-white);
    padding: .75rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-border);
    box-shadow: 2px 0px 6px #00000024;
}

.header__logo {
  font-weight: bold;
  font-size: 1.25rem;
}

.header__logo span {
    color: var(--color-primary);
}

.header__nav {
    display: flex;
    gap: 1.5rem;
}

.header__a {
    margin-right: 1rem;
    text-decoration: none;
    color: var(--color-muted);
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
}

.header__a:hover {
    background-color: var(--color-bg);
}

.header__a--active {
    color: var(--color-primary);
}


