.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--spacing-lg);
    gap: var(--spacing-md);
}

.logo {
    font-weight: bold;
    font-size: 2rem;
}

.logo span {
    color: var(--color-primary);
}

.login {
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
}

.login__title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.login__subtitle {
    color: var(--color-text-gray);
    margin-bottom: var(--spacing-lg);
}

.login__form {
    display: flex;
    flex-direction: column;
}

.login__form-label {
    margin: var(--spacing-md) 0 var(--spacing-sm);
}

.login__form-input,
.login__form-select {
    padding: 0.625rem;
    border: 1px solid var(--color-border);
    border-radius: var(--radius);
    font-size: 1rem;
}

.login__form-button {
    margin-top: var(--spacing-lg);
    padding: 0.75rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: var(--radius);
    font-size: 1rem;
    cursor: pointer;
}

.login__create {
    align-self: center;
    margin-top: 1rem;
}

.login__create a {
    color: var(--color-primary);
}

@media (max-width: 425px) {
    .main {
        padding-inline: var(--spacing-md);
    }
}

@media (max-width: 320px) {
    .login {
        padding-inline: var(--spacing-md);
    }
}
